html, body{
	margin:0px;
	height:100%;
}
#map{ 
	height: 100%;
	width:100%;
	float:right;
}
#panel{
	background: rgba(0,0,0,0.4);
	z-index: 99999;
	width:25%;
	height:100%;
	padding:15px;
	float:left;
	position:absolute;
}
.panel-default{
	background: rgba(0,0,0,0.7);
	border:none;
	max-height:100%;
}
.header{
	text-align:center;
	color:#ffffff;
	font-family: "Times New Roman", Georgia, Serif;
}
h4{
	color:#ffffff;
	margin-bottom:25px;
}
h5{
	margin-top:25px;
	color:#ffffff;
}
.fullwidth-color-style{
	width:100%;
	background-color:#F5F5F5;
}
.csv-width{
	float:right;
	background-color:#F5F5F5;
}
.dropdown{
	margin-bottom:10px;
}
.dropdown-menu {
	min-width:100%;
    max-height: 500px;
    overflow-y: auto;
}
.badge{
	cursor:pointer;
}
.badge:hover{
	background-color:#000000;
}
.filterHeader{
	display:none;
}


.scrollable{
	overflow:auto;
}

#mdlogo{
	width:100%;
	padding-bottom:15px;
}

#statestatlogo{
	width:27%;
	margin-left:11%;
}

#mbelogo{
	width:30%;
	float:left;
	margin-left:25%;
}

#logoPanel{
	position:absolute;
	bottom:0;
	right:0;
	padding:15px;
	z-index:-1;
}

#activeFilterContainer{
	max-height:35%;
	overflow-y:auto;
}

.popupText{
	font-size:15px;
}

.ten-bottom-margin{
	margin-bottom:10px;
}

.leaflet-popup-content, .leaflet-popup-scrolled{
	overflow-x:hidden;
}